*{

  background-color: aquamarine;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
  max-width: 174px;
  z-index: 11;
}
.header-logo {
  max-width: 174px;
  z-index: 11;
  color: black;
  color: aliceblue;
}